{% extends 'base.html' %}

{% block head %}
<title>Art Search</title>
<style>
	body {
			background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
			background-size: 1000%, 1000%;
			animation: gradient 15s ease infinite;
		}

		@keyframes gradient {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}

     .tables{
		 position: relative;
		 top:350px;
		 left :50px;

	 }

	 .form{
		 position: relative;
		 top: 150px;
		 left :100px;
		 border: none;
	 }

	 h2{
		color: white;
  			font-family: verdana;
			  font-size: 300%;
			  position: relative;;
			  top:240px;
			  left: 35%;
	 }

	 input[type=text] {
		/* width: 100%; */
		padding: 12px 20px;
		margin: 8px 0;
	 }

	 .btn1{
			font-size: 16px;
			text-align: center;
			cursor: pointer;
			outline: none;
			color: #fff;
			background-color: #4CAF50;
			border: none;
			margin: 4px 2px;
			padding: 15px 25px;

			border-radius: 15px;
			box-shadow: 0 9px #999;
			/* border: 2px solid #008CBA; */
			}

		.btn1:hover {
			background-color: orange;
			color: white;
			}
		.btn1:active {
			background-color: #3e8e41;
			box-shadow: 0 5px #666;
			transform: translateY(4px);
			}



</style>
{% endblock %}


{% block body %}
<h2 >Art Search Engine </h2>

<div class="content" >
    <div class = "tables">
	<table style="margin-left: auto; margin-right: auto">
		<tr>
			<th>Art Name</th>
			<th>Author</th>
			<th>Image</th>
		</tr>
		
		<tr>
			<td>{{ art_obj.Title }}</td>
			<td>{{ art_obj.Artist }}</td>
			<td><img src={{ art_obj.image_src }} alt="{{ art_obj.Title }}" style="width:256px;height:256px;"></td>
		</tr>
		
	</table>
	</div>
	
	<div class="form">
        <form action="/" method="POST" style="margin-left: auto; margin-right: auto">
            <input type="text" name="artName" id="artName" required>
            <button class = "btn1" type="submit" >Search Art!</button>
        </form>
    </div>
</div>
{% endblock %}